
.why-use-container {
  background-color: #f8f8f8;
  text-align: center;
  padding: 50px 0;
}


.why-use-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.red-text {
  color: #fc2f00;
}

.black-text {
  color: #333;
}


.why-use-description {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #555;
}


.app-store-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.store-logo {
  width: 160px;
  margin: 0 15px;
  transition: transform 0.2s ease-in-out;
}

.store-logo:hover {
  transform: scale(1.05);
}


.why-use-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}


.why-use-info {
  width: 20%;
  text-align: left;
  font-size: 18px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.why-use-info p {
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  letter-spacing: 0.5px;
}


.why-use-info p::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #fc2f00;
  font-size: 18px;
}


.why-use-image {
  width: 40%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
}

.why-use-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.why-use-image:hover img {
  transform: scale(1.05);
}


.left-info,
.right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  font-family: 'Poppins', sans-serif;
}
